.x-comment-blocker-hidden {
    visibility: hidden !important;
    pointer-events: none !important;
    position: relative !important;
}

.x-comment-blocker-hidden * {
    visibility: hidden !important;
}
